<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="done.rezankiraztarot.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="done.rezankiraztarot.app.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="done.rezankiraztarot.app.AllCardsActivity"
            android:label="Rezan Kiraz Tarot v.1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="done.rezankiraztarot.app.TabsActivity"
            android:label="Rezan Kiraz Tarot v.1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="done.rezankiraztarot.app.VideoActivity"
            android:label="Video"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="done.rezankiraztarot.app.DetailActivity"
            android:label="Detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="done.rezankiraztarot.app.CallActivity"
            android:label="Call"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.twilio.client.TwilioClientService"
            android:exported="false" />

    </application>

</manifest>
